<footer>

    <form class="newsletter-form">
        <h3 class="newsletter">Newsletter</h3>
        <input type="email" placeholder="E-mail address" autocomplete="on" class="input-newsletter">
        <button type="submit" class="btn-form">Submit</button>
    </form>    

   
    <div class="ocean-footer">


        <ul class="footer-ul">
            <li class="color-footer">THE OCEAN CLEANUP</li>
            <li>Oceans</li>
            <li>Rivers</li>
            <li>Ocean Plastic Facts</li>
            <li>Impact Dashboard</li>
            <li>Milestones</li>
            <li>Updates</li>
            <li>Great Pacific Garbage Patch</li>
            <li>River Plastic Pollution Sources</li>
            <li>The Price Tag of Plastic Pollution</li>
            <li>Plastic Tracker</li>
        </ul>

        <ul class="footer-ul">
            <li class="color-footer">ABOUT US</li>
            <li>Careers</li>
            <li>About</li>
            <li>Waste management</li>
            <li>Research</li>
            <li>Press</li>
            <li>Media Gallery</li>
            <li>Enviroment</li>
            <li>Scientific Publications</li>
            <li>Podcasts</li>
            <li>Partners</li>
        </ul>

        <ul class="footer-ul">
            <li class="color-footer">HELP</li>
            <li>Donate</li>
            <li>Merchendise</li>
            <li>Citizen Science</li>
            <li>FAQ</li>
            <li>Contact</li>
        </ul>

        <ul class="footer-ul">
            <li class="color-footer">LEGAL</li>
            <li>Privacy and Cookie Notice</li>
            <li>Disclaimer</li>
            <li>Donation Terms & Conditions</li>
            <li>Supplier Code of Conduct</li>
            <li>Foundation Details</li>
            <li>American Friends of The Ocean Cleanup</li>


    </div>

    <p class="copyright">© 2023 The Ocean Cleanup. All rights reserved. THE OCEAN CLEANUP trademarks are registered trademarks, pending registration, or protected under common law, and owned by The Ocean Cleanup Technologies B.V.</p>

    <img class="patroon-mobile" src="/patroon.png" alt="">

</footer>
<script src="/index.js" defer></script>
</body>

</html>