<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Ocean cleanup</title>
</head>


<body>

<nav>
    <header class="ocean-header">
    <img src="header-img.png" href="/home" class="header-img">
      <ul class="navbar-items">
        <li><a href="#" class="nav-content">About</a></li>
        <li><a href="#" class="nav-content">Press</a></li>
        <li><a href="#" class="nav-content">Donate</a></li>
        <li><a href="#" class="nav-content">🔎</a></li>
      </ul>  
    </header>
</nav>