<%- include('./Partials/head') %>

<main>

  <section class="main-title">
        <h1>The Largest Cleanup In History</h1>
  </section>

        <img src="ocean-system.png" class="ocean-system">

  <section class="main-systems">
        <p class="main-line"></p>
        <h2 class="main-systems-title">Visit our systems</h2>

        <p class="systems-caption">Visit our systems in different locations around te world, here you will find information about our cleanup.</p>

  </section>

  <div class="buttons-div">
    <a href="/oceans" class="button-systems">Oceans</a>
    <a href="/rivers" class="button-systems">Rivers</a>
  </div>

</main>



<%- include('./Partials/foot') %>